* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.logo img {
  width: 139px;
height: 60px;;
}
header{
  background-color: #ffffff;
}
nav{
   max-width: 1600px;
  height: 92px;
  /* border: 1px solid red; */
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
nav .menu{
  display: flex;
   list-style: none;
  gap: 50px;

}
nav .menu a{
   text-decoration:none ;
  gap: 20px;

}
.btn{
   background-color: #4CAF50;
  color: white;
  padding: 16px 12px
  border: none;
  
  border-radius: 5px;
   
   border-radius: 4px; */

}

#banner{
background-image: url("./assets/hero-bg.png");

max-width: 2042px;

background-repeat:no-repeat;
margin: 0;
  padding: 0;
  border: 0;


}
#banner .banner-content{
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
  /* border: 1px solid red; */
  margin: auto ;
  align-items: center;
  text-align: center;
padding: 162px;
}
#skills {
  padding-top:50px;
}
#skills .skills-container{
  max-width: 1360px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
.section-heading {
  margin: 0 auto;
  text-align: center;
}
.skill-box{
  gap: 20px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 6px rgba(0, 0, 0, 0.237);
}
.skill-card{
  padding: 30px;
  margin: 0 auto;
background-color: #d8d8d83d;
}
#banner-next{
  display: flex;
}
.latter{
  height: 313px;
  max-width: 700px;
  margin: 93px 0px 93px 60px;
  border: 1px solid red; 
}
#about{
  padding-top: 120px;
}
.about-container{
  width: 75%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
  padding: 80px 40px;
}
#end-banner{
  background-color:#627382;
  padding: 120px 120px 30px 120px;
  
}

.last-part{
margin: 0 auto;
}