* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.logo img {
  width: 139px;
height: 60px;;
}
header{
  background-color: #ffffff;
}
nav{
   max-width: 1600px;
  height: 92px;
  border: 1px solid red;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
nav .menu{
  display: flex;
   list-style: none;
  gap: 50px;

}
nav .menu a{
   text-decoration:none ;
  gap: 20px;
  

}
nav.btn{
  list-style: none;
  text-decoration:none;
}

#banner{
background-image: url("./assets/hero-bg.png");

max-width: 2042px;
height:1363px;
background-repeat:no-repeat;
margin: 0;
  padding: 0;
  border: 0;


}
#banner .banner-content{
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
  /* border: 1px solid red; */
  margin: auto ;
  align-items: center;
  text-align: center;
padding: 162px;
}
.next-section{
  display: flex;
 flex-direction: column;
 /* justify-content: center; */
  /* border: 1px solid red; */
  margin: 0;
  align-items: center;
  text-align: center;
/* padding: 162px; */
border: 0;
padding: 0;
}